{%extends "base.html" %}

{%block title%}Edit Profile{%endblock title%}

{% block breadcrumb %}
    <li>
        <span class="mx-1">/</span>
    </li>
    <li>
        <a href="{% url 'profile' %}" class="hover:text-blue-600 dark:hover:text-blue-400">
            Profile
        </a>
    </li>
    <li>
        <span class="mx-1">/</span>
    </li>
    <li class="text-gray-800 dark:text-gray-200 font-semibold">
        Edit Profile
    </li>
{% endblock breadcrumb %}

{% block content %}
<div class="flex items-center justify-center">
    <div class="bg-white dark:bg-gray-700 p-8 rounded-lg shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold text-center mb-10"> Edit Personal Information </h2>
        <form method="POST" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="username" class="block font-medium">Username</label>
                <input type="text" name="username" id="username" value="{{ user.username }}"
                        class="w-full mt-2 p-2 border dark:bg-gray-800 
                        border-gray-300 dark:border-gray-500 focus:ring-indigo-200 dark:focus:ring-gray-400 
                        rounded-md focus:outline-none focus:ring">
                {% if errors.username %}
                    <p class="text-red-600 dark:text-red-400 text-sm mt-0">{{ errors.username }}</p>
                {% endif %}
            </div>

            <div>
                <label for="file" class="block font-medium">Personal Image</label>
                <input type="file" name="file" id="file" 
                        class="w-full mt-2 p-2 border dark:bg-gray-800 
                        border-gray-300 dark:border-gray-500 focus:ring-indigo-200 dark:focus:ring-gray-400
                        rounded-md focus:outline-none focus:ring">
                                        {% if user.image %}
                        <p class="text-sm text-gray-500 dark:text-gray-300 mt-1 mb-5">Current Image: 
                            <a href="{{ user.image.url }}" target="_blank" class="text-blue-500 dark:text-blue-400 underline hover:text-blue-700 dark:hover:text-blue-500">{{ user.image }}</a>
                        </p>
                    {% else %}
                        <p class="text-sm text-gray-500 dark:text-gray-300 mt-1 mb-5">No image uploaded.</p>
                    {% endif %}
            </div>

            <button type="submit" 
                    class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 dark:bg-gray-500 dark:hover:bg-gray-400 focus:outline-none focus:ring focus:ring-indigo-200 dark:focus:ring-gray-500 transition duration-300">
                Save
            </button>
        </form>
    </div>
</div>
{% endblock content %}
