{%extends "base.html" %}

{%block title%}Students in {{ group.name|default:"Unknown Group" }}{%endblock title%}

{% block breadcrumb %}

    <li>
        <span class="mx-1">/</span>
    </li>
    <li class="text-gray-800 dark:text-gray-200 font-semibold">
        {% if group %}
            All Students in <span class="font-bold">{{ department.name }}</span>, <span class="font-bold">{{ group.name }}</span>
        {% else %}
            Unknown Group
        {% endif %}    
    </li>
{% endblock breadcrumb %}

{% block content %}
<div class="bg-white dark:bg-gray-700 shadow-md rounded-lg mb-8 p-6">
    {% if error_message %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-6" role="alert">
            <span class="font-bold">Error: </span>{{ error_message }}
        </div>
    {% endif %}

    {% if group %}
        <h1 class="text-2xl font-semibold mb-4">
            Students in <span class="font-bold">{{ department.name }}</span>, <span class="font-bold">{{ group.name }}</span>
        </h1>

        <div class="overflow-x-auto">
            <table class="table-auto w-full bg-white dark:bg-gray-700 shadow rounded">
                <thead class="bg-[#1875BB] text-white dark:bg-gray-800">
                    <tr>
                        <th class="p-3 text-left">Student</th>
                        <th class="p-3 text-left">Email</th>
                        <th class="p-3 text-left">Phone</th>
                        <th class="p-3 text-left">Gender</th>
                        <th class="p-3 text-left">Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr class="border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                        <td class="px-4 py-2">
                            <div class="flex items-center space-x-3">
                                <img 
                                    src="{{ student.user.get_profile_image_url }}" 
                                    alt="{{ student.user.get_full_name }}" 
                                    class="w-12 h-12 rounded-full shadow-md object-cover"
                                >
                                <span class="font-medium">{{ student.user.get_full_name }}</span>
                            </div>
                        </td>
                        <td class="px-4 py-2">{{ student.user.email }}</td>
                        <td class="px-4 py-2">{{ student.user.phone }}</td>
                        <td class="px-4 py-2">
                            {% if student.user.gender == "M" %}
                                <span>Male</span>
                            {% else %}
                                <span>Female</span>
                            {% endif %}
                        </td>
                        <td class="px-4 py-2">{{ student.level }}</td>
                    </tr>
                    {% endfor %}
                    {% if not students %}
                    <tr>
                        <td colspan="5" class="border-b py-3 px-6 italic text-center dark:text-white">
                            No students found.
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="italic text-gray-600 dark:text-gray-300">No group information available.</p>
    {% endif %}
</div>
{% endblock content %}