{% extends "base.html" %}

{% block title %}Profile{% endblock title %}

{% block breadcrumb %}
    <li>
        <span class="mx-1">/</span>
    </li>
    <li class="text-gray-800 dark:text-gray-200 font-semibold">
        Profile
    </li>
{% endblock breadcrumb %}

{% block content %}
    <!-- محتوى الملف الشخصي -->
    <div class="max-w-4xl mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
        <!-- صورة المستخدم -->
        <div class="bg-gray-100 dark:bg-gray-700 p-6">
            <div class="flex flex-col items-center">
                <img src="{{ user.get_profile_image_url }}" alt="Personal Image" class="w-32 h-32 rounded-full border-4 border-white dark:border-gray-800 shadow-lg">
                <h2 class="text-2xl font-semibold dark:text-gray-200 mt-4">{{ user.username }}</h2>
                <p >{{ user.email }}</p>
            </div>
        </div>

        <!-- بيانات المستخدم الشخصية Collapsible -->
        <div class="p-6">
            <button onclick="toggleCollapsible('personalInfoContent', 'personalInfoIcon')" class="w-full text-left text-xl font-semibold bg-gray-100 dark:bg-gray-700 rounded-sm p-3 text-gray-700 dark:text-gray-200 mb-4 flex justify-between items-center">
                <span>Personal Information</span>
                <i id="personalInfoIcon" class="fas fa-chevron-up"></i>
            </button>
            <div id="personalInfoContent">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <!-- الحقل الأول -->
                    <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                        <p class="text-gray-600 dark:text-gray-300">Username:</p>
                        <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.username }}</p>
                    </div>
                    <!-- الحقل الثاني -->
                    <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                        <p class="text-gray-600 dark:text-gray-300">Email:</p>
                        <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.email }}</p>
                    </div>
                    <!-- الحقل الثالث -->
                    <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                        <p class="text-gray-600 dark:text-gray-300">First Name:</p>
                        <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.first_name }}</p>
                    </div>
                    <!-- الحقل الرابع -->
                    <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                        <p class="text-gray-600 dark:text-gray-300">Last Name:</p>
                        <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.last_name }}</p>
                    </div>
                    <!-- الحقل الخامس -->
                    <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                        <p class="text-gray-600 dark:text-gray-300">Phone:</p>
                        <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.phone }}</p>
                    </div>
                    <!-- الحقل السادس -->
                    <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                        <p class="text-gray-600 dark:text-gray-300">Gender:</p>
                        <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.get_gender_display }}</p>
                    </div>
                    <!-- الحقل السابع -->
                    <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                        <p class="text-gray-600 dark:text-gray-300">Date of Birth:</p>
                        <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.get_formatted_letter_birth_date }}</p>
                    </div>
                    <!-- الحقل الثامن -->
                    <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                        <p class="text-gray-600 dark:text-gray-300">Age:</p>
                        <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.get_age }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- البيانات الأكاديمية Collapsible -->
        <div class="p-6">
            <button onclick="toggleCollapsible('academicInfoContent', 'academicInfoIcon')" class="w-full text-left text-xl font-semibold bg-gray-100 dark:bg-gray-700 rounded-sm p-3 text-gray-700 dark:text-gray-200 mb-4 flex justify-between items-center">
                <span>Academic Information</span>
                <i id="academicInfoIcon" class="fas fa-chevron-down"></i>
            </button>
            <div id="academicInfoContent" class="hidden">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    {% if user.role == 'STUDENT' %}
                        <!-- بيانات الطالب -->
                        <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                            <p class="text-gray-600 dark:text-gray-300">ID:</p>
                            <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.id }}</p>
                        </div>
                        <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                            <p class="text-gray-600 dark:text-gray-300">Role:</p>
                            <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.get_role_display }}</p>
                        </div>
                        <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                            <p class="text-gray-600 dark:text-gray-300">Department:</p>
                            <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.students.department.name }}</p>
                        </div>
                        <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                            <p class="text-gray-600 dark:text-gray-300">Level:</p>
                            <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.students.get_level_display }}</p>
                        </div>
                        <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                            <p class="text-gray-600 dark:text-gray-300">Group:</p>
                            <p class="text-gray-800 dark:text-gray-100 font-semibold">{{ user.students.group.name }}</p>
                        </div>

                    {% elif user.role == 'INSTRUCTOR' or user.role == 'ADMIN' %}
                        <!-- بيانات المدرب -->
                        <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                            <p class="text-gray-600 dark:text-gray-300">ID:</p>
                            <p class="text-gray-800 dark:text-gray-100 font-semibold">
                                {{ user.id }}
                            </p>
                        </div>
                        <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                            <p class="text-gray-600 dark:text-gray-300">Role:</p>
                            <p class="text-gray-800 dark:text-gray-100 font-semibold">
                                {{ user.get_role_display }}
                            </p>
                        </div>
                        <div class="flex items-center space-x-4 bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
                            <p class="text-gray-600 dark:text-gray-300">Hired Date:</p>
                            <p class="text-gray-800 dark:text-gray-100 font-semibold">
                                {{user.date_joined}}
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- الأزرار -->
        <div class="bg-gray-100 dark:bg-gray-700 p-6">
            <div class="flex justify-between">
                <a href="{% url 'edit_profile' %}" class="bg-blue-500 text-white dark:bg-gray-500 py-2 px-6 rounded-lg hover:bg-blue-600 dark:hover:bg-gray-600 transition duration-300">
                    <i class="fas fa-edit mr-2"></i>Edit Information
                </a>
                <a href="{% url 'change_password' %}" class="bg-gray-500 text-white dark:bg-gray-600 py-2 px-6 rounded-lg hover:bg-gray-600 dark:hover:bg-gray-800 transition duration-300">
                    <i class="fas fa-lock mr-2"></i>Change Password
                </a>
            </div>
        </div>
    </div>

   
{% endblock content %}