.custom-button {
    padding: 8px 12px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.view-button {
    background-color: #7eafe2; /* لون زر العرض */
}

.download-button {
    background-color: #90e4a4; /* لون زر التنزيل */
}